body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 12rem;
}
@media (max-width: 700px) {
  section {
    margin: 0rem;
  }
}
@media (max-width: 989px) {
  section {
    margin: 7rem 2rem;
  }
}

/*TOP NAV*/
header .navbar > .container,
header .navbar > .container-fluid,
header .navbar > .container-lg,
header .navbar > .container-md,
header .navbar > .container-sm,
header .navbar > .container-xl,
header .navbar > .container-xxl {
  background-color: #1e1e1e;
}
header nav {
  background-color: #1e1e1e !important;
  width: auto;
  display: flex;
  justify-content: space-between;
}
header nav .navbar-collapse {
  flex-grow: 0;
}
@media (max-width: 700px) {
  header nav .navbar-collapse {
    line-height: 0.2rem;
    margin: 0.1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 989px) {
  header nav .navbar-collapse {
    background-color: #1e1e1e;
    border-radius: 1rem;
    text-align: center;
    width: 50%;
    box-shadow: 10px 10px 126px 126px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 126px 126px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 126px 126px rgba(0, 0, 0, 0.75);
  }
}
header nav .navbar-collapse ul {
  align-items: center;
}
@media (max-width: 989px) {
  header nav .navbar-collapse ul {
    display: flex;
    flex-direction: row;
    line-height: 0.2rem;
    margin: 0.1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) {
  header nav .navbar-collapse ul {
    border: solid 0.1rem #ffa500;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 0.2rem;
    margin: 0.1rem;
    list-style: none;
    align-items: center;
    align-content: flex-start;
  }
}
header nav img {
  width: 40px;
  position: relative;
  top: 0.5rem;
  left: 5rem;
}
@media (max-width: 700px) {
  header nav img {
    left: 0rem;
  }
}
@media (max-width: 989px) {
  header nav img {
    left: 0.5rem;
  }
}
header nav a {
  color: #ffa500 !important;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
}
header nav a:hover {
  opacity: 50%;
}
@media (max-width: 989px) {
  header nav a {
    font-size: 0.9rem;
    margin: 1.5rem;
    color: #fff !important;
  }
}
header nav .boton {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  text-decoration: none;
  color: #aab8c4;
  border: none;
  padding: 0.2rem;
  margin-left: 2rem;
  background-color: #1e1e1e !important;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  margin-right: 2rem;
}
@media (max-width: 989px) {
  header nav .boton {
    color: #ffa500 !important;
    font-size: 1rem;
  }
}
header nav .boton:hover {
  background-color: #1e1e1e;
  color: #fff;
  background-size: 100% 2px;
}

/* MENU LATERAL - REDES*/
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin-left: 6rem;
  margin-top: 7rem;
  list-style: none;
  color: #fff;
}
@media (max-width: 700px) {
  .redes {
    display: none;
  }
}
@media (max-width: 989px) {
  .redes {
    display: none;
  }
}
.redes::after {
  content: "";
  border: solid 0.01rem #fff;
  position: absolute;
  height: 25rem;
  width: 0.01rem;
  margin: 10.3rem auto;
}
.redes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.redes ul a {
  color: #fff;
  line-height: 2rem;
}
.redes ul a:hover {
  color: #ffa500;
}
.redes ul li:hover {
  transform: translateY(1px);
  color: #ffa500;
}
@media (max-width: 700px) {
  .redes ul li:hover {
    display: none;
  }
}

/*Section 1 - Presentacion*/
@media (max-width: 989px) {
  .section-1 {
    margin-top: 12rem;
  }
}
.section-1 p {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}
.section-1 h1 {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  color: #ffa500;
}
@media (max-width: 989px) {
  .section-1 h1 {
    font-size: 2rem;
    width: 100%;
  }
}
.section-1 h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  margin-bottom: 2.5rem;
}
@media (max-width: 989px) {
  .section-1 h2 {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}
.section-1 a {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  margin-top: 6rem;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}
@media (max-width: 989px) {
  .section-1 a {
    border: #ffa500 solid 0.1rem;
    padding: 0.5rem;
    margin-bottom: 10rem;
  }
}
.section-1 a:hover {
  background-color: #1e1e1e;
  color: #fff;
  background-size: 100% 2px;
}

/*Section 2 - Sobre mi*/
.section-2 {
  margin-top: 2rem;
  padding-top: 5rem;
}
.section-2 .card {
  color: #fff;
  background-color: #1e1e1e;
  border: none;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
@media (max-width: 700px) {
  .section-2 .card {
    font-size: 0.9rem;
  }
}
@media (max-width: 989px) {
  .section-2 .card {
    font-size: 0.9rem;
    width: 100%;
  }
}
.section-2 .card strong {
  color: #ffa500;
}
.section-2 .card h3 {
  color: #ffa500;
  font-family: "Roboto Mono", monospace;
  border-bottom: solid #2f414f4a 0.01rem;
}
.section-2 .card img {
  margin-top: 2.3rem;
  border-bottom: 0.1rem solid rgba(47, 65, 79, 0.29);
  border-right: 0.1rem solid #2f414f4a;
}
@media (max-width: 989px) {
  .section-2 .card img {
    margin-top: 0;
  }
}
.section-2 .card .text-muted {
  color: #aab8c4 !important;
}

/*Section 3 - TRABAJOS DESTACADOS*/
.section-3 {
  padding-top: 5rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);
}
.section-3 h3 {
  color: #ffa500;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: solid #2f414f4a 0.01rem;
  padding: 0.5rem;
}
.section-3 .s4Color {
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  width: 10rem;
}
.section-3 .s4Color:hover {
  color: #ffa500;
  background-color: #1e1e1e;
}
@media (max-width: 700px) {
  .section-3 .s4Color {
    font-size: 0.7rem;
    width: 7rem;
  }
}
.section-3 .link_txt {
  color: #fff;
  text-decoration: none;
  width: 10rem;
}
.section-3 .link_txt:hover {
  color: #ffa500;
  background-color: #1e1e1e;
}
.section-3 .nav-pills .nav-link.active,
.section-3 .nav-pills .show > .nav-link {
  color: #ffa500;
  background-color: #1e1e1e;
}
.section-3 .tab-pane {
  font-weight: 100;
  margin-top: 3rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 989px) {
  .section-3 .tab-pane {
    margin-top: 1rem;
  }
}

/*Section 4 - trabajos*/
.section-4 h4 {
  color: #ffa500;
}
.section-4 h3 {
  color: #ffa500;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: solid #2f414f4a 0.01rem;
  padding: 0.5rem;
}
.section-4 .card {
  background-color: #1e1e1e;
  will-change: transform;
  border: 0rem;
  font-weight: 100;
  box-shadow: rgba(0, 0, 0, 0.33) 10px 10px 5px -1px;
  margin: 1rem;
  transition: transform 800ms ease 0s;
  position: relative;
}
.section-4 .card:hover {
  transform: translateY(1rem);
}
.section-4 .card img {
  width: 60%;
  filter: saturate(0%);
  margin-left: 20%;
}
.section-4 .card img:hover {
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -moz-filter: saturate(100%);
}
.section-4 .card .text-muted {
  color: #ffa500 !important;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

/*Section 5 - contacto*/
.section-5 {
  display: flex;
  align-items: center;
  align-items: center;
}
.section-5 h3 {
  color: #ffa500;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: solid #2f414f4a 0.01rem;
  padding: 0.5rem;
}
.section-5 p {
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 1rem;
}
.section-5 h4 {
  text-align: center;
  margin-top: 5rem;
}
.section-5 .boton {
  font-family: "Roboto Mono", monospace;
  color: #ffa500;
  padding: 0.2rem;
  font-size: 1rem;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1rem;
  transition: background-size 0.7s;
}
.section-5 .boton:hover {
  background-color: #1e1e1e;
  color: #fff;
  background-size: 100% 2px;
}

/*Footer*/
footer {
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 5rem;
}
@media (max-width: 700px) {
  footer {
    font-size: 0.9rem;
  }
}
@media (max-width: 989px) {
  footer {
    font-size: 0.9rem;
    align-content: center;
  }
}
footer .redesFooter {
  text-decoration: none;
  list-style: none;
  display: none;
}
footer .redesFooter ul {
  display: flex;
  list-style: none;
}
footer .redesFooter ul li {
  margin: 1rem;
}
@media (max-width: 989px) {
  footer .redesFooter {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    margin: 5rem;
    padding-right: 15rem;
    padding-left: 15rem;
  }
}
@media (max-width: 700px) {
  footer .redesFooter {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
footer .redesFooter a {
  color: #ffa500;
}
footer .redesFooter a:hover {
  transform: translateY(1px);
  color: #ffa500;
}

/*404 */
.section-404 .conteinerTres {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.section-404 .conteinerTres .engranaje-1 {
  height: 5rem;
  transition: width 2s, height 2s, transform 10s;
}
.section-404 .conteinerTres .engranaje-1:hover {
  transform: rotate(680deg);
}
.section-404 .conteinerTres .engranaje-2 {
  height: 10rem;
  transition: width 2s, height 2s, transform 10s;
}
.section-404 .conteinerTres .engranaje-2:hover {
  transform: rotate(580deg);
}
.section-404 .conteinerTres .txt-404 {
  justify-content: center;
}
.section-404 .conteinerTres .txt-404 h1 {
  font-size: 10rem;
  color: #ffa500;
  margin-bottom: 1rem;
}
.section-404 .conteinerTres .txt-404 a {
  font-size: 1rem;
  text-decoration: none;
  color: #aab8c4;
  border: none;
  padding: 0.2rem;
  background-color: #1e1e1e !important;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  margin-right: 2rem;
}
@media (max-width: 989px) {
  .section-404 .conteinerTres .txt-404 a {
    color: #ffa500 !important;
    font-size: 1rem;
  }
}
.section-404 .conteinerTres .txt-404 a:hover {
  background-color: #1e1e1e;
  color: #fff;
  background-size: 100% 2px;
}

/*# sourceMappingURL=style.css.map */
