$color: #1e1e1e;
$color1: #2f414f4a;
$color2: #ffa500;
$color3: #fff;
$color4:#aab8c4;




$font: 'Roboto',
sans-serif;
$font2: 'Roboto Mono',
monospace;

$small:700px;
$medium: 989px;



body {
    background-color: $color;
    color: $color3;
    font-family: $font;

}

section {
    margin: 12rem;



    @media (max-width:$small) {
        margin: 0rem;


    }

    @media (max-width:$medium) {
        margin: 7rem 2rem;


    }

}

/*TOP NAV*/



header {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        background-color: $color;



    }


    nav {
        background-color: $color !important;
        width: auto;
        display: flex;
        justify-content: space-between;

        .navbar-collapse {
            flex-grow: 0;


            @media (max-width:$small) {
                line-height: .2rem;
                margin: .1rem;
                list-style: none;
                justify-content: center;
                align-items: center;


            }

            @media (max-width:$medium) {
                background-color: $color;
                border-radius: 1rem;
                text-align: center;
                width: 50%;
                box-shadow: 10px 10px 126px 126px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 10px 10px 126px 126px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 126px 126px rgba(0, 0, 0, 0.75);



            }

            ul {

                align-items: center;

                @media (max-width:$medium) {
                    display: flex;
                    flex-direction: row;
                    line-height: .2rem;
                    margin: .1rem;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                }

                @media (max-width:$small) {
                    border: solid .1rem $color2;
                    border-radius: 1rem;
                    display: flex;
                    flex-direction: column;
                    line-height: 0.2rem;
                    margin: 0.1rem;
                    list-style: none;
                    align-items: center;
                    align-content: flex-start;

                }

            }


        }


        img {
            width: 40px;
            position: relative;
            top: 0.5rem;
            left: 5rem;

            @media (max-width:$small) {
                left: 0rem;


            }

            @media (max-width:$medium) {
                left: 0.5rem;

            }

        }

        a {
            color: $color2 !important;
            font-family: $font2;
            font-size: 0.8rem;

            &:hover {
                opacity: 50%;
            }

            @media (max-width:$medium) {
                font-size: .9rem;
                margin: 1.5rem;
                color: $color3 !important;

            }

        }


        .boton {
            font-family: $font2;
            font-size: 0.8rem;
            text-decoration: none;
            color: $color4;
            border: none;
            padding: 0.2rem;
            margin-left: 2rem;
            background-color: $color !important;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 1px;
            transition: background-size .3s;
            margin-right: 2rem;



            @media (max-width:$medium) {
                color: $color2 !important;
                font-size: 1rem;

            }


            &:hover {
                background-color: $color;
                color: #fff;
                background-size: 100% 2px;
            }


        }

    }
}


/* MENU LATERAL - REDES*/


.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-left: 6rem;
    margin-top: 7rem;
    list-style: none;
    color: $color3;

    @media (max-width:$small) {
        display: none;


    }

    @media (max-width:$medium) {
        display: none;


    }

    &::after {
        content: "";
        border: solid 0.01rem $color3;
        position: absolute;
        height: 25rem;
        width: 0.01rem;
        margin: 10.3rem auto;


    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            color: $color3;
            line-height: 2rem;

            &:hover {
                color: $color2;
            }

        }

        li:hover {
            transform: translateY(1px);
            color: $color2;

            @media (max-width:$small) {
                display: none;


            }

        }

    }


}

/*Section 1 - Presentacion*/

.section-1 {
    @media (max-width:$medium) {
        margin-top: 12rem;


    }



    p {
        font-size: 1rem;
        font-family: $font2;
        font-weight: 100;
    }

    h1 {
        font-size: 5rem;
        font-family: $font;
        color: $color2;



        @media (max-width:$medium) {
            font-size: 2rem;
            width: 100%;


        }
    }

    h2 {
        font-family: $font2;
        font-weight: 100;
        margin-bottom: 2.5rem;


        @media (max-width:$medium) {
            font-size: 1.5rem;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 4rem;


        }
    }

    a {
        color: $color3;
        font-family: $font2;
        margin-top: 6rem;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size .3s;

        @media (max-width:$medium) {
            border: $color2 solid 0.1rem;
            padding: 0.5rem;
            margin-bottom: 10rem;

        }

        &:hover {

            background-color: $color;
            color: #fff;
            background-size: 100% 2px;





        }

    }

}

/*Section 2 - Sobre mi*/

.section-2 {
    margin-top: 2rem;
    padding-top: 5rem;



    .card {
        color: $color3;
        background-color: $color;
        border: none;
        font-weight: 100;
        letter-spacing: .1rem;


        @media (max-width:$small) {
            font-size: 0.9rem;


        }

        @media (max-width:$medium) {
            font-size: 0.9rem;
            width: 100%;



        }

        strong {
            color: $color2;

        }



        h3 {
            color: $color2;
            font-family: $font2;
            border-bottom: solid $color1 0.01rem;

        }

        img {
            margin-top: 2.3rem;
            border-bottom: 0.1rem solid rgba(47, 65, 79, 0.29);
            border-right: 0.1rem solid $color1;

            @media (max-width:$medium) {
                margin-top: 0;



            }


        }

        .text-muted {
            color: $color4 !important;
        }

    }
}

/*Section 3 - TRABAJOS DESTACADOS*/

.section-3 {
    padding-top: 5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);

    h3 {
        color: $color2;
        font-family: $font2;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2rem;
        border-bottom: solid $color1 0.01rem;
        padding: 0.5rem;




    }

    .s4Color {
        color: $color3;
        padding: 1rem;
        text-decoration: none;
        width: 10rem;

        &:hover {
            color: $color2;
            background-color: $color;

        }


        @media (max-width:$small) {
            font-size: 0.7rem;
            width: 7rem;


        }

    }

    .link_txt {
        color: $color3;
        text-decoration: none;
        width: 10rem;

        &:hover {
            color: $color2;
            background-color: $color;



        }



    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: $color2;
        background-color: $color;


    }

    .tab-pane {
        font-weight: 100;
        margin-top: 3rem;
        letter-spacing: .1rem;

        @media (max-width:$medium) {
            margin-top: 1rem;

        }


    }

}

/*Section 4 - trabajos*/

.section-4 {


    h4 {
        color: $color2;
    }


    h3 {
        color: $color2;
        font-family: $font2;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2rem;
        border-bottom: solid $color1 0.01rem;
        padding: 0.5rem;

    }

    .card {
        background-color: $color;
        will-change: transform;
        border: 0rem;
        font-weight: 100;
        box-shadow: rgba(0, 0, 0, 0.33) 10px 10px 5px -1px;
        margin: 1rem;
        transition: transform 800ms ease 0s;
        position: relative;


        &:hover {
            transform: translateY(1rem);

        }

        img {
            width: 60%;
            filter: saturate(0%);
            margin-left: 20%;


            &:hover {
                filter: saturate(100%);
                -webkit-filter: saturate(100%);
                -moz-filter: saturate(100%);
            }
        }

        .text-muted {
            color: $color2 !important;
            font-family: $font2;
            font-weight: 500;
        }


    }

}

/*Section 5 - contacto*/

.section-5 {
    display: flex;
    align-items: center;
    align-items: center;


    h3 {
        color: $color2;
        font-family: $font2;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2rem;
        border-bottom: solid $color1 0.01rem;
        padding: 0.5rem;

    }



    p {
        text-align: center;
        letter-spacing: .1rem;
        font-weight: 100;
        font-size: 1rem;
        margin-top: 1rem;

    }

    h4 {
        text-align: center;
        margin-top: 5rem;
    }

    .boton {
        font-family: $font2;
        color: $color2;
        padding: 0.2rem;
        font-size: 1rem;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 0.1rem;
        transition: background-size .7s;


        &:hover {
            background-color: $color;
            color: $color3;
            background-size: 100% 2px;
        }



    }

}

/*Footer*/

footer {
    font-size: 0.8rem;
    font-weight: 100;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 5rem;

    @media (max-width:$small) {
        font-size: 0.9rem;


    }

    @media (max-width:$medium) {
        font-size: 0.9rem;
        align-content: center;


    }


    .redesFooter {
        text-decoration: none;
        list-style: none;
        display: none;

        ul {
            display: flex;
            list-style: none;

            li {

                margin: 1rem;
            }

        }


        @media (max-width:$medium) {
            display: flex;
            justify-content: space-around;
            padding: 2rem;
            align-items: center;
            margin: 5rem;
            padding-right: 15rem;
            padding-left: 15rem;

        }


        @media (max-width:$small) {
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            align-items: center;
            padding-right: 1rem;
            padding-left: 1rem;



        }

        a {
            color: $color2;

            &:hover {
                transform: translateY(1px);
                color: $color2;

            }


        }




    }

}

/*404 */

.section-404 {
    
    .conteinerTres {
        display: flex;
        justify-content: center;
        margin: 2rem;
        
        
        
        .engranaje-1 {
            height: 5rem;
            transition: width 2s, height 2s, transform 10s;

            &:hover {
                transform: rotate(680deg);

            }

        }

        .engranaje-2 {
            height: 10rem;

            transition: width 2s, height 2s, transform 10s;

            &:hover {
                transform: rotate(580deg);

            }

        }

        .txt-404 {
            justify-content: center;
           
            h1 {
                font-size: 10rem;
                color: $color2;
                margin-bottom: 1rem;
            }

            a{
            
            font-size: 1rem;
            text-decoration: none;
            color: $color4;
            border: none;
            padding: 0.2rem;
            background-color: $color !important;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 1px;
            transition: background-size .3s;
            margin-right: 2rem;



            @media (max-width:$medium) {
                color: $color2 !important;
                font-size: 1rem;

            }


            &:hover {
                background-color: $color;
                color: #fff;
                background-size: 100% 2px;
            }


        }

        }
    }

}